* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 20px Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
html {
    height: 100%;
    background-size: cover;
}
#calculator {
    width: 325px; ;
    height: auto;
    overflow: hidden;
    margin: 100px auto;
    padding: 20px 20px 9px;
    position: relative;
    background: rgba(125, 142, 150, 0.507);
    border-radius: 3px;
    box-shadow: 0px 10px 15px rgb(241, 234, 234);
}
.top span.clear {
    position: absolute;
    z-index: 6;
}
.top .screen {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 27px;
    font-weight: normal;
    line-height: 40px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(228, 226, 226, 0.2);
    text-align: right;
    letter-spacing: 1px;
}
.keys, .top{overflow: hidden;}

.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;

    cursor: pointer;

    width: 66px;
    height: 56px;

    background: rgba(14, 119, 218, 0.685);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(172, 222, 245, 0.514);

    margin: 0 7px 11px 0;

    color: #ccc;
    line-height: 56px;
    text-align: center;

    user-select: none;

    transition: all 0.2s ease;
}
.keys span.operator {
    background: rgba(250, 100, 0, 0.3);
    margin-right: 0;

}
.keys span.eval {
    color: #fcfcfc;
}
.top span.clear {
    background: transparent;
    box-shadow: none;
    background: rgba(14, 119, 218, 0.685);
    color: #f5f1f1;
   width: 56px;
   left: 5px
}
.keys span:hover {
    background: rgba(111, 189, 241, 0.753);
    color: #0c5ec9;
}
.keys span.eval:hover {
    background: rgba(111, 189, 241, 0.753);
    color: #0c5ec9;

}
.top span.clear:hover {
  border-radius: 190px;
    background: rgba(111, 189, 241, 0.753);
    color: rgb(53, 131, 248);
}

.keys span:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px #238de4;
    top: 4px;

}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #3687f1;
}